
<%- include('../partials/_header') -%>


<body>
      <div class="containers">
            <!-- navigation -->
            <%- include('../partials/_navigation') -%>

            <div class="container mt-5">

                  <div class="row justify-content-center">

                        <div class="col-9">
                              <div class="card" style="background: #ffffff98;">
                                    <div class="card-body">
                                          <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Adı</th>
                                                    <th scope="col">Kullanıcı Adı</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Ayarla/Sil</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                      <% for(var i = 0; i < users.length; i++) { %>
                                                            
                                                            <tr>
                                                                  <th scope="row"><%= i %></th>
                                                                  <td><h6><%- users[i].name %></h6></td>
                                                                  <td><%- users[i].userName %></td>
                                                                  <td><%- users[i].email %></td>
                                                                  <td><%- users[i].role %></td>
                                                                  <td>
                                                                        <a href="/admin/update-user/<%= users[i]._id %>" class="btn btn-warning">Güncelle</a>
                                                                        <a href="/admin/delete-user/<%= users[i]._id %>" class="btn btn-danger">Sil</a>
                                                                  </td>
                                                            </tr>
                                                      <% } %>
                                                 
                                                </tbody>
                                                <tfoot>
                                                      <tr>
                                                            <th colspan="5">Toplam user sayısı :<%= userCount %></th>
                                                            <th><a href="/admin/add-user" class="btn btn-success">Kullanıcı Ekle</a></th>
                                                      </tr>
                                                      
                                                </tfoot>
                                              </table>
                                    </div>
                              </div>
                        </div>
                  </div>



            </div>
            <!--- Content-->
            <!---footer -->
            <%- include('../partials/_footer') -%>
      </div>
</body>

</html>