
<%- include('../partials/_header') -%>


<body>
      <div class="containers">
            <!-- navigation -->
            <%- include('../partials/_navigation') -%>

            <div class="container mt-5">

                  <div class="row justify-content-center">

                        <div class="col-9">
                              <div class="card" style="background: #ffffff98;">
                                    <div class="card-body">
                                          <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Post Adı</th>
                                                    <th scope="col">Post içeriği</th>
                                                    <th scope="col">Post Categorisi</th>
                                                    <th scope="col">Categori idsi</th>
                                                    <th scope="col">Ayarla/Sil</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                      <% for(var i = 0; i < post.length; i++) { %>
                                                            
                                                            <tr>
                                                                  <th scope="row"><%= i %></th>
                                                                  <td><a href="/post-detail/<%= post[i]._id %>" class=""><%- post[i].postTitle %></a></td>
                                                                  <td><%= post[i].postDescription.slice(0,200) %> ....</td>
                                                                  <td><%- post[i].categoryInTitle %></td>
                                                                  <td><%- post[i].categoryIn %></td>
                                                                  <td>
                                                                        <a href="/update-post/<%= post[i]._id %>" class="btn btn-warning">Güncelle</a>
                                                                        <a href="/delete-post/<%= post[i]._id %>" class="btn btn-danger">Sil</a>
                                                                  </td>
                                                            </tr>
                                                      <% } %>
                                                 
                                                </tbody>
                                                <tfoot>
                                                      <tr>
                                                            <th colspan="4">Toplam Kategori sayısı :<%= postCount %></th>
                                                      </tr>
                                                </tfoot>
                                              </table>
                                    </div>
                              </div>
                        </div>
                  </div>



            </div>
            <!--- Content-->
            <!---footer -->
            <%- include('../partials/_footer') -%>
      </div>
</body>

</html>