
<%- include('../partials/_header') -%>


<body>
      <div class="containers">
            <!-- navigation -->
            <%- include('../partials/_navigation') -%>

            <div class="container mt-5" style="height: 500px;">

                  <div class="row justify-content-center">

                        <div class="col-9">
                              <div class="card" style="background: #ffffff98;">
                                    <div class="card-body">
                                          <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Categori Adı</th>
                                                    <th scope="col">Categori İconu</th>
                                                    <th scope="col">Ayarla/Sil</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                      <% for(var i = 0; i < category.length; i++) { %>
                                                            
                                                            <tr>
                                                                  <th scope="row"><%= i %></th>
                                                                  <td><%- category[i].categoryName %></td>
                                                                  <td><%- category[i].icon %></td>
                                                                  <td>
                                                                        <a href="/update-category/<%= category[i]._id %>" class="btn btn-warning">Güncelle</a>
                                                                        <a href="/delete-category/<%= category[i]._id %>" class="btn btn-danger">Sil</a>
                                                                  </td>
                                                                </tr>
                                                      <% } %>
                                                 
                                                </tbody>
                                                <tfoot>
                                                      <tr>
                                                            <th></th>
                                                            <th>Toplam Kategori sayısı :<%= categoryCount %></th>
                                                      </tr>
                                                </tfoot>
                                              </table>
                                    </div>
                              </div>
                        </div>
                  </div>



            </div>
            <!--- Content-->
            <!---footer -->
            <%- include('../partials/_footer') -%>
      </div>
</body>

</html>