
<%- include('../partials/_header') -%>


<body>
      <div class="containers">
            <!-- navigation -->
            <%- include('../partials/_navigation') -%>

            <div class="container mt-5" style="height: 500px;">

                  <div class="row justify-content-center">

                        <div class="col-9">
                              <div class="card" style="background: #ffffff98;">
                                    <div class="card-body">
                                          <form method="POST" action="/admin/update-category/<%= category._id %>">
                                                <div class="mb-3">
                                                      <label for="exampleFormControlInput1" class="form-label"> Categori Adı </label>
                                                      <input type="text" name="categoryName" class="form-control" id="exampleFormControlInput1" value="<%= category.categoryName %>">
                                                </div>
                                                <div class="mb-3">
                                                      <label for="exampleFormControlInput1" class="form-label"> Categori logosu </label>
                                                      <input type="text" name="icon" class="form-control" id="exampleFormControlInput1" value="<%= category.icon %>">
                                                </div>
                                                <div class="mb-3">
                                                      <label for="exampleFormControlInput1" class="form-label"> Categori büyük logo // logo-bigger</label>
                                                      <input type="text" name="iconB" class="form-control" id="exampleFormControlInput1" value="<%= category.iconB %>">
                                                </div>

                                                <button type="submit" class="btn btn-warning">Güncelle</button>
                                          </form>
                                    </div>
                              </div>
                        </div>
                  </div>



            </div>
            <!--- Content-->
            <!---footer -->
            <%- include('../partials/_footer') -%>
      </div>
</body>

</html>