
<%- include('../partials/_header') -%>


<body>
      <div class="containers w-100">
            <!-- navigation -->
            <%- include('../partials/_navigation') -%>

            <div class="container mt-10">

                  <main class="px-3 text-center">
                        <h1><i class="fa-solid fa-compass"></i> My Web Compass</h1>
                        <p class="lead">Yazılım Dünyasındaki Pusulanız</p>
                        <div class="row justify-content-center">
                              <form class="col-5 d-flex" method="GET" action="/search">
                                    <input class="form-control me-2 form-control-lg" name="search" type="search" placeholder="Search"
                                          aria-label="Search">
                                    <button class="btn btn-dark" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                              </form>
                        </div>
                  </main>
                  <div class="row col-12 justify-content-center">
                        <div class="col-5 d-flex mt-5">
                              <div class="col">
                                    <!--<a href="#" type="button" class="btn btn-light m-1 position-relative"><h1><i class="fa-brands fa-html5"></i></h1>Html<br>Dersleri
                                    <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-danger">
                                          15</span> </a>-->
                              
                              <% for(var i = 0; i < category.length; i++) { %>
                                    <a href="/<%= category[i].slug %>" type="button" class="btn btn-light m-1 position-relative text-wrap w-10" style="width: 6rem; height:10rem;">
                                          <h1><%- category[i].icon %></h1><%- category[i].categoryName %>
                                          
                                          <% for(var s =0; s < groupped.length ; s++ ){ %>
                                                <% if(groupped[s].id == category[i].id ){ %> 
                                                      <% if(groupped[s].rakam != ""){ %>
                                                          <span class="position-absolute top-0 start-100  translate-middle badge rounded-pill bg-danger">
                                                                <%=  groupped[s].rakam %>
                                                            </span>
                                                      <% } %>
                                                <% } %>      
                                          <% } %>      
                                          
                                    </a>
                              <% } %>
                              </div>
                              
                        </div>
                  </div>


                  <!---footer -->
                  
            </div>
            <!--- Content-->
            <%- include('../partials/_footer') -%>
      </div>
</body>

</html>